<ion-header>
    <ion-toolbar color="primary">
        <ion-title>Login</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <app-auth-form #loginForm (formSubmitted)="loginUser($event)" [actionButtonText]="'Login'"></app-auth-form>
    <ion-button expand="block" fill="clear" routerLink="/signup">
        Create a new account
    </ion-button>

    <ion-button expand="block" fill="clear" routerLink="/reset-password">
        I forgot my password :(
    </ion-button>
</ion-content>

<ion-footer>
    <ion-toolbar color="primary">
        <ion-title>© {{ currentYear }} Adrián Brito Pacheco</ion-title>
        <ion-buttons slot="end">
            <ntkme-github-button user="abritopach" repo="ionic-firebase"></ntkme-github-button>
            <ntkme-github-button user="abritopach" type="follow" style="margin-left: 5px;"></ntkme-github-button>
        </ion-buttons>
    </ion-toolbar>
</ion-footer>