<ion-app>
    <ion-split-pane contentId="main" [when]="userLogged !== null && 'md'">
        <!--  our side menu  -->
        <ion-menu contentId="main">
            <ion-header>
                <ion-toolbar color="primary">
                    <ion-title>Menu</ion-title>
                    <ion-buttons slot="end">
                        <ion-button (click)="logOut()">
                            <ion-icon slot="icon-only" name="log-out"></ion-icon>
                        </ion-button>
                    </ion-buttons>
                </ion-toolbar>
                <ion-toolbar color="tertiary">
                    <ion-item color="tertiary">
                        <ion-avatar slot="start">
                        <img src="assets/avatar.png" alt="Menu profile picture">
                        </ion-avatar>
                        <ion-label class="ion-text-wrap">
                        <h2> {{ userLogged?.displayName }} </h2>
                        </ion-label>
                        <ion-button color="light" fill="outline" slot="end" routerLink="/profile">
                            <ion-icon slot="icon-only" name="create"></ion-icon>
                        </ion-button>
                    </ion-item>
                </ion-toolbar>
            </ion-header>
            <ion-content>
                <ion-list>
                    <ion-menu-toggle auto-hide="false">
                        <ion-item *ngFor="let p of appPages" [routerLink]="[p.url]">
                            <ion-icon slot="start" [name]="p.icon"></ion-icon>
                            <ion-label>
                                {{p.title}}
                            </ion-label>
                        </ion-item>
                    </ion-menu-toggle>
                </ion-list>
            </ion-content>
        </ion-menu>
        <!-- the main content -->
        <ion-router-outlet id="main"></ion-router-outlet>
    </ion-split-pane>
</ion-app>
