<ion-header>
    <ion-toolbar color="primary">
        <!--
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/home"></ion-back-button>
        </ion-buttons>
        -->
        <ion-buttons buttons-start slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Your Events</ion-title>
        <!--
        <ion-buttons slot="start">
            <ion-button routerLink="/profile">
                <ion-icon slot="icon-only" name="person"></ion-icon>
            </ion-button>
        </ion-buttons>
        -->
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

    <!-- Fab placed to the top and end and on the top edge of the content overlapping header. -->
    <ion-fab vertical="top" horizontal="end" edge slot="fixed">
        <ion-fab-button color="secondary" size="small" routerLink="/event-create">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>

    <ion-list>
        <ion-list-header> <ion-label>Your next events</ion-label> </ion-list-header>
        <ion-item-sliding *ngFor="let event of eventList">
            <ion-item tappable routerLink="/event-detail/{{ event.id }}">
                <ion-label>
                    <h2>{{event?.name}}</h2>
                    <p>Ticket: <strong>${{event?.price}}</strong></p>
                    <p>Date: <strong>{{event?.date | date}}</strong></p>
                </ion-label>
                <ion-badge *ngIf="eventGuests[event?.id] != 0" color="primary" slot="end">{{eventGuests[event?.id]}} GUESTS</ion-badge>
                <ion-icon name="swap-horizontal-outline" slot="end"></ion-icon>
            </ion-item>
            <ion-item-options side="end">
                <ion-item-option>Edit</ion-item-option>
                <ion-item-option color="danger" (click)="deleteEvent(event?.id)">Delete</ion-item-option>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
</ion-content>
