<ion-header>
    <ion-toolbar color="primary">
        <ion-title>
            Home
        </ion-title>
        <ion-buttons slot="start">
            <ion-button routerLink="/profile">
                <ion-icon slot="icon-only" name="person"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>

    <!-- Fab placed to the top and end and on the top edge of the content overlapping header. -->
    <ion-fab vertical="top" horizontal="end" edge slot="fixed">
        <ion-fab-button color="secondary" size="small" routerLink="/event-create">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>

    <ion-button expand="block" color="primary" routerLink="/event-list">
        See your events
    </ion-button>
</ion-content>
